 <div class="table-responsive"> 
<table id="example2" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>SECTOR</th>
			<th>HORARIO</th>
			<th>FOLIOS RECIBIDOS</th>
			<th>FOLIOS ATENDIDOS</th>
		</tr>
	</thead>
	<tbody >
		<tr id="table" th:each="registro: ${listHorario}" >
			<td th:text="${registro.sector}"></td>
           <td th:text="${registro.rangoHorario}"></td>
			<td th:text="${registro.folioRecibido}"></td>
			<td th:text="${registro.folioAtendido}"></td>
		</tr>
	</tbody>
</table>
</div>