<div class="panel panel-primarys">
	<div class="panel-body">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" id="btn-grafica">ESTATUS</button>
			<button type="button" class="btn btn-default" id="btn-retrabajos">RETRABAJO</button>
			<button type="button" class="btn btn-default" id="btn-tiempo">TIEMPOS</button>
			<button type="button" class="btn btn-default" id="btn-motivo">MOTIVOS</button>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>